{% extends 'layout.html' %}

{% block body %}
<div class="jumbotron text-center">
    <div class="container">
        <div class="row" >
    {% for listing in listings %}
        <div class="card text-white bg-secondary mb-3 text-center" style="width: 23rem;">
                <img class="card-img-top" src="{{listing.image}}" alt="No image available">
            <div class="card-body text-center">
            <h5 class="card-title">{{listing.title}}</h5>
            <p class="card-text">Price: {{listing.cost}}.</p>
            <a href="{{listing.image}}"  class="btn btn-dark">Image</a>
            </div>
        </div>
    {% endfor %}
        </div>
    </div>
    <div class="containter">

    <div class="row" >
        <div class="col-lg-12 col-lg-offset-4">
        <div class="form-group ">
<form action="/listings" method="POST">
    <input type="submit" name="{{last_timestamp}}" value="Load more posts">
</form>
<form action="/listings" method="POST">
    <input type="submit" name="{{first_timestamp}}" value="Load previous posts" >
</form>
        </div>
        </div>
    </div>
</div>
</div>

{% endblock %}