{% extends 'layout.html' %}

{% block body %}
    <ul class="card-columns">
    {% for listing in listings %}
        <div class="card text-white bg-secondary mb-3 text-center" style="width: 18rem;">
                <img class="card-img-top" src="{{listing.image}}" alt="No image available">
            <div class="card-body text-center">
            <h5 class="card-title">{{listing.title}}</h5>
            <p class="card-text">Price: {{listing.cost}}.</p>
            <a href="{{listing.image}}"  class="btn btn-dark">Image</a>
            </div>
        </div>
    {% endfor %}
    </ul>
<form action="/listings" method="POST">
    <input type="submit" name="{{last_timestamp}}" value="Load more posts">
</form>

{% endblock %}